@charset "UTF-8";	
*{position:relative; padding:0; margin:0; font-family: 'Noto Sans KR', sans-serif;}
li, ol, ul{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
img{display:block}
body{width: 100vw; overflow-x: hidden; overflow-y: auto;}

.header img{
	margin: 0 auto;
}

.wrap{
	width: 70vw;
	margin: 0 auto;
}

.container{
	text-align: center;
	margin-top: 50px; 
}

.container h1{
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 10px;
}

.container p{
	font-size: 16px;
	margin-bottom: 20px;
}

.container input{
	width: 300px;
	height: 50px;
	background-color: #111111;
	color: #ffffff;
	cursor: pointer;
}

.wrap .t1 table{
	margin: 50px auto;
	border: 1px solid #dddddd;
	padding: 10px;
	border-collapse: collapse;
	width: 50%;
	height: 100%;
}

.wrap .t1 td{
	border: 1px solid #dddddd;
	height: 50px;
	
}

#current_date{
	display: inline-block;
}

.wrap .t1 .td1{
	width: 30%;
	text-align: center;
}

.wrap .t1 .td2{
	width: 70%;
	padding: 0 10px;
}

.wrap .t2 caption{
	font-size: 20px;
	margin-bottom: 20px;
}

.wrap .t2 table{
	margin: 50px auto;
	border: 1px solid #dddddd;
	padding: 10px;
	border-collapse: collapse;
	width: 50%;
	height: 100%;
}

.wrap .t2 td{
	text-align: center;
}

.wrap .t2 img{
	display: inline-block;
}

.wrap .t2 h3{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px; 
}

.wrap .t2 p{
	font-size: 14px;
	margin-bottom: 10px; 
}
